<p id="notice"><%= notice %></p>

<p>
  <strong>Zipcode:</strong>
  <%= @weather_datum.zipcode %>
</p>

<p>
  <strong>Temperature f:</strong>
  <%= @weather_datum.temperature_f %>
</p>

<p>
  <strong>Temperature c:</strong>
  <%= @weather_datum.temperature_c %>
</p>

<%= link_to 'Edit', edit_weather_datum_path(@weather_datum) %> |
<%= link_to 'Back', weather_data_path %>
